:root {
  --header-height: 60px;
}

body {
  background: #ffffff;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%, rgba(255, 255, 255, 1) 70%);

  color: var(--foreground-color);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  margin: 0;
  padding-top: var(--header-height);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: calc(var(--header-height) + 16px);
  overflow: visible;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 0;
}

header > div {
  width: 100%;
  flex: 1 0 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

header.has-background {
  background-color: white;
}

header .menu {
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  height: var(--header-height);
  padding: 0 1rem;

  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

header .menu.scrolled {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s ease-in-out;
}

.menu-drawer.open header {
  background-color: var(--background-color);
}

.main-layout,
.main-content {
  overflow: visible;
}

.main-layout {
  padding: 5.3rem 0px 5.3rem; /* top horizontal bottom */
}

.main-content {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

h1, h2, body {
  color: var(--foreground-color);
}

.header-h1 {
  letter-spacing: -.03em;
  max-width: 48rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2;
}

.header-h2 {
  letter-spacing: -.03em;
  max-width: 58rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.2;
}

.header-h1::selection, .header-h2::selection, .text-body::selection {
  background: var(--foreground-color);
  color: var(--background-color);
}

.menu-toggle {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.5);  /* 흐리게 보이는 흰 배경 */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* 경계선 추가 (옵션) */
  border-radius: 8px;
  margin-right: 0;
  padding: 4px;
}

.header-h1-linebreak {
  display: inline-block;
}

.thor-text {
  font-weight: 900;
  letter-spacing: 0;
}

.text-body {
  max-width: 68rem;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 2.1rem;
  font-family: var(--font-sans);
}

.columns {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.w-layout-hflex {
  flex-direction: row;
  display: flex;
}

.w-inline-block {
  max-width: 100%;
}

.is-relative {
  position: relative
}

.button-content {
  background-color: var(--foreground-color);
  color: var(--background-color);
  text-align: center;
  border-radius: 30rem;
  font-weight: 600;
  line-height: 1.25;
  text-decoration: none;
  transition: all .2s ease-in-out;
  font-family: var(--font-headline);
  margin-top: 3rem;
  margin-bottom: 100px;
  user-select: none;
  letter-spacing: 1.2px;
}

.button-content:hover {
  box-shadow: none;
  background-color: #ffffff;
  color: var(--foreground-color);
}

.button-content.is-large-primary {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  justify-content: center;
  align-items: center;
  padding: 1.15rem 1.75rem;
  font-size: 1.5rem;
}

.button-content.is-large-primary:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

@media print, screen and (max-width: 1023px) {
  header {
    padding: 0px 2.5rem;
  }

  .main-content {
    padding: 0px 2.5rem;
  }
}

@media print, screen and (max-width: 840px) {
  header {
    padding: 0 1.5rem;
  }

  .main-layout {
    padding: 3.5rem 0px;
  }

  .button-content.is-large-primary {
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
  }

  .header-h2 {
    max-width: 100%;
  }

  .text-body {
    font-size: 1.05rem;
    line-height: 1.95rem;
  }
}

@media print, screen and (max-width: 480px) {
  .header-h2 {
    font-size: 3rem;
  }

  .main-content {
    padding: 0px 1.5rem;
  }
}

@media print, screen and (min-width: 1024px) {
  header {
    padding: 0px 4rem;
  }

  .main-content {
    padding: 0px 7rem;
  }
}

@media print, screen and (min-width: 1365px) {
  header {
    padding: 0px 7rem;
  }

  .header-h1 {
    max-width: 50rem;
  }

  .text-body {
    max-width: 78rem;
  }

  .main-content {
    padding: 0px 11.5rem;
  }
}

@media print, screen and (min-width: 1423px) {
  .header-h1 {
    max-width: 58rem;
  }
}

@media print, screen and (min-width: 1964px) {
  .header-h1 {
    max-width: 65rem;
  }
}

@media print, screen and (min-width: 2100px) {
  header {
    padding-right: 11.5rem;
  }

  .main-content {
    padding: 0px 15rem;
  }
}

@media print, screen and (min-width: 2200px) {
  .header-h1 {
    max-width: 75rem;
  }
}

@media (max-width: 841px) {
  body {
    padding-top: 0;
  }
}

/* Effects that appear when entering */
@keyframes fadeUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header-h1, .header-h2, .text-body, .buttons-wrapper, .menu {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 0.8s ease-out forwards;
}

.header-h1 {
  animation-delay: 0.1s;
}

.header-h2, .menu {
  animation-delay: 0.3s;
}

.text-body {
  animation-delay: 0.5s;
}

.buttons-wrapper {
  animation-delay: 0.7s;
}